<ion-view view-title="Dashboard">
  <ion-nav-bar class="bar bar-header bar-calm" align-title="left">

  </ion-nav-bar>
  <ion-nav-back-button class="no-text">

  </ion-nav-back-button>
  <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
  </ion-nav-buttons>
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list half">
            <div ui-sref="app.pendingAssessmant" class="card card-gallery item item-text-wrap">

                <div class="ink dark-bg">

                    <h2><i class="icon ion-log-in"></i>&nbsp; Pending Assessment</h2>

                </div>
            </div>
            <div ui-sref="app.completeAssessment" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2> <i class="icon ion-checkmark-round"></i>&nbsp; Completed Assessment</h2>
                    <!-- <img class="full-image" src="img/sansa-snowcastle.png"> -->
                </div>
                <!-- <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        6
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        1
                    </a>
                </div> -->
            </div>
        </div>
        <div class="list half">
            <div ui-sref="app.attemptAssessmant" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2><i class="icon ion-ios-people"></i>&nbsp; Attempt Assessment</h2>
                    <!-- <img class="full-image" src="img/sansa-snowcastle2.jpg"> -->
                </div>
                <!-- <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        22
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        9
                    </a>
                </div> -->
            </div>
            <div ui-sref="app.studentPassword" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2><i class="icon ion-ios-person"></i>&nbsp;	Student Password</h2>
                    <!-- <img class="full-image" src="img/sansa-snowcastle4.jpg"> -->
                </div>
                <!-- <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        8
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        0
                    </a>
                </div> -->
            </div>
        </div>
    </ion-content>
</ion-view>
