<ion-view title="Questions">
    <ion-nav-bar class="bar bar-header bar-royal">
        <ion-nav-buttons side="right">
            <button class="right button button-icon icon ion-android-cancel" ng-click="logout()">   </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <form ng-submit="submit()">
            <div class="row">
                <div class="col-75">
                    <span class="ssc_name ssc_name1">SSC : {{group_name}}</span>
                    <span class="ssc_name ssc_name2">NAME : {{name}}</span>
                    <span class="ssc_name ssc_name3">ENROLLMENT NO. : {{en_number}}</span>
                    <span class="ssc_name ssc_name4">DATE : {{date|date : 'dd-MM-yyyy' }}</span>

                </div>
                <div class="col-25 time">
                    <h4></h4>
                    <timer interval="1000" ng-repeat="n in duration" ng-class="{'card-hi': n.time  == 7000}" countdown="n.time"><span class="time">Time Left : {{hours}}:{{minutes}}:{{seconds}}</span>
                    </timer>
                    <br/>

                </div>
            </div>
            <div class="row">
                <div class="col-75 question_label" style="position:relative">
                    <div>
                        {{ rid }}
                    </div>
                    <div class="queses" ng-class="{'card-hide': index  > $index + 1, 'card-show': index  == $index + 1}" ng-style="{'z-index': (queses.length - $index)}" ng-repeat="quiz in queses">

                        <span style="display:block;"><h4>Q ({{$index + 1}}): <span ng-bind-html="quiz.question"></span></h4>
                        </span>
                        <br/>
                        <div class="question_label platform-android" ng-repeat="opt in optionsd[quiz.qid]" ng-if="quiz.qid == opt.qid">
                            <ion-radio ng-show="{{quiz.qid}} == {{opt.qid}}" ng-model="selected[opt.qid]" name="opt_{{opt.qid}}" value="{{opt.oid}}" ng-change="ChangE(opt.qid)" class="radio-positive"> {{opt.opti}}</ion-radio>
                            <!-- <strong>({{ options_nos[opt.option_num] }})</strong> -->
                        </div>
                    </div>
                </div>
                <div class="col-25 ">
                    <div class="question ">
                        <h4><b>Total Questions </b>:  {{totalQuestion}}</h4>

                        <div ng-repeat="q in queses_i" class="navigate">
                          <button id="ques_{{ q.qid}}" ng-hide="!queses[$index+1].qid" class="button button-small" ng-click="itemClicked($index+1, queses_i[$index-1].qid)">{{$index+1 }}</button>
                         </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="button-bar social-login">
                    <button class="button button-small button-border icon-left ion-arrow-left-b button-positive-900" ng-hide="index == 1" ng-click="itemClicked(index-1, queses_i[index-1].qid)">Previous</button>
                    <button class="button button-small button-border icon-right ion-arrow-right-b  button-calm-900" ng-hide="index == queses_i.length || queses[index].qid" ng-show="!queses[index].qid" ng-click="nextItem(index+1, queses_i[index].qid)">Next</button>
                    <button class="button button-small button-border icon-right ion-arrow-right-b  button-calm-900" ng-hide="index == queses_i.length || !queses[index].qid" ng-show="queses[index].qid" ng-click="itemClicked(index+1,queses_i[index-1].qid)">Next</button>
                    <button ng-click="formSubmit()" id="formSubmit" class="button button-small button-border icon-left ion-arrow-return-right button-balanced" ng-show="index == queses_i.length">Submit</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
