<ion-view view-title="Attempt Assessment">
    <ion-nav-bar class="bar bar-header bar-calm" align-title="left">

    </ion-nav-bar>
    <ion-nav-back-button class="no-text">

    </ion-nav-back-button>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
    </ion-nav-buttons>
    <ion-content>

        <div class="container" >
            <div class="row">
                <div class = "col-10">
                  #
                </div>
                <div class="col-20">
                  Batch Id
                </div>
                <div class="col-25">
                  Test Name
                </div>
                <div class="col-20">
                  Start Time
                </div>
                <div class="col-20">
                  <center>  Action</center>
                </div>

            </div>
        </div>

        <div class="container2" ng-repeat = "upcoming in upcoming_assesment">
            <div ng-animate="'animate'">

                <div class="divider"></div>

                <div class="row">
                  <div class="col-10">
                      <div class="date"> <b>{{$index+1}} </b></div>

                  </div>
                    <div class="col-20">
                        <div class="date"> <b>{{upcoming.batch_name}} </b></div>

                    </div>

                    <div class="col-25">

                        <div class="vch"> <b>{{upcoming.quiz_name}}</b></div>

                    </div>
                    <div class="col-20">

                        <div class="credit"> <b> {{upcoming.start_time| date:'dd-MM-yyyy  hh:mm:ss a '}}</b> </div>
                    </div>



                    <div ng-if = "upcoming.pract_test == 0">
                    <div class="col-20 view_attempt">
                       <a href = "#/app/viewAttempt/{{upcoming.bid}}" class="button button-small button-royal attemp_buttom" ng-disabled = "true">Attempt by Student</a>
                </div>
              </div>




                    <div ng-if = "upcoming.pract_test != 0">
                    <div class="col-20 view_attempt">
                       <a href = "#/app/viewAttempt/{{upcoming.bid}}" class="button button-small button-royal attemp_buttom">View & Attempt</a>
                </div>
              </div>

            </div>
        </div>
    </ion-content>
</ion-view>
