<ion-view title="Instuction">
    <ion-nav-bar class="bar bar-header bar-calm" align-title="left">
        <ion-nav-buttons side="left">

        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="right button button-icon icon ion-android-cancel" ng-click="logout()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>

        <ion-list >
            <ion-item style="border:1px solid #ddd;">
                <div class="row">
                    <div class="col-33 quiz_heading">
                        <h3>Assessment Name:</h3>
                    </div>
                    <div class="col-66">


                        <span class="quality">Quality Control</span>
                    </div>
                </div>
            </ion-item>
            <ion-item style="border:1px solid #ddd;">
                <div class="row">
                    <div class="col-33 quiz_heading">
                        <h3>Duration</h3>
                    </div>
                    <div class="col-66">
                        <span>600 Minutes</span>
                    </div>
                </div>
            </ion-item>
            <ion-item style="border:1px solid #ddd;">
                <div class="row">
                    <div class="col-33 quiz_heading">
                         <h3>Description</h3>
                    </div>
                    <div class="col-66">
                        <span><p> 1. Write the name and roll number in the space provide</p>
                              <p>2. After Completion Handover the paper to the Invigilator</p>
                              <p>3. All Questions are compulsory</p>
                              <p>4. Write the Correct option in the empty box provided   </p>



                        </span>
                    </div>
                </div>
            </ion-item>

            <ion-item style="border:1px solid #ddd;">
                <div class="row">
                    <div class="col-33 quiz_heading">
                        <h3>Passing Percentage</h3>
                    </div>
                    <div class="col-66">
                        <span>35%</span>
                    </div>
                </div>
            </ion-item>


            <ion-item style="border:1px solid #ddd;">
                <div class="row">
                    <div class="col-33 quiz_heading">
                        <h3>Start Time</h3>
                    </div>
                    <div class="col-66">
                        <span>01:19 PM</span>
                    </div>
                </div>
            </ion-item>


            <ion-item style="border:1px solid #ddd;">
                <div class="row">
                    <div class="col-33 quiz_heading">
                        <h3>End Time</h3>
                    </div>
                    <div class="col-66">
                        <span>01:18 PM</span>
                    </div>
                </div>
            </ion-item>


                        <ion-item style="border:1px solid #ddd;">
                            <div class="row">
                                <div class="col-33 quiz_heading">
                                    <h3>Batch Id:</h3>
                                </div>
                                <div class="col-66">
                                    <span>Batch-id-01</span>
                                </div>
                            </div>
                        </ion-item>
                        <a class="button button-block button-positive start_quiz" ng-href="#/access/{{quiz.quid}}" href="#/lists/16">
                        Start Assessment
                        </a>
            <div ng-if="status == 'TRUE'">
                <a class="button button-block button-positive start_quiz" ng-href="#/access/{{quiz.quid}}" href="#/lists/16">
                Start Quiz
                </a>
            </div>
            <div ng-if="status == 'FALSE'">
                <a class="button button-block button-assertive start_quiz">
                  Quiz Alredy Submitted
              </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
