<ion-view title="Login">
 <ion-content  style="background: url(img/bg.jpg) center; background-size: cover;">
     <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>SSC ASSESSMENT</h1>
            </div>
        </div>
  <form ng-submit="doLogin()">
    <div class="list">
          <ion-md-input placeholder="Username" highlight-color="balanced" type="text" ng-model="loginData.username" style="width: auto;"></ion-md-input>
      
          <ion-md-input placeholder="Password" highlight-color="balanced" type="password" ng-model="loginData.password" style="width: auto;"></ion-md-input>
      
      <label class="item">
        <button class="button button-block button-assertive" type="submit">Log in</button>
      </label>
    </div>
  </form>
     <div style="display:none">{{ user }}<br/>{{ pass }}</div>
     
    </ion-content>
</ion-view>