<ion-view view-title="Pending Assessment">
    <ion-nav-bar class="bar bar-header bar-calm" align-title="left">

    </ion-nav-bar>
    <ion-nav-back-button class="no-text">

    </ion-nav-back-button>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
    </ion-nav-buttons>
    <ion-content>

        <div class="container">
            <div class="row">
              <div class="col-5">
              #
              </div>
                <div class="col-20">
                  Batch Id
                </div>
                <div class="col-33">
                  Test Name
                </div>
                <div class="col-20">
                  <center>Start Time</center>
                </div>
                <div class="col-20">
                  <center>End_Time</center>
                </div>

            </div>
        </div>

        <div class="container2" ng-repeat = "pendingassement in  pending_assesment" >
            <div ng-animate="'animate'">

                <div class="divider"></div>

                <div class="row">
                  <div class="col-5">
                      <div class="date"> <b>{{$index+1}}</b></div>
                  </div>
                    <div class="col-20">
                        <div class="date"> <b>{{pendingassement.batch_name}}</b></div>

                    </div>

                    <div class="col-33">

                        <div class="vch"> <b>{{pendingassement.quiz_name}}</b></div>

                    </div>
                    <div class="col-20">

                      <center>  <div class="credit"> <b>{{pendingassement.batch_start| date:'dd-MM-yyyy  hh:mm:ss a '}} </b> </div></center>
                    </div>
                    <div class="col-20">
            <center>  <div class="credit"> <b>{{pendingassement.end_time| date:'dd-MM-yyyy  hh:mm:ss a'}} </b> </div></center>




                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
