<ion-view view-title="Change Password">
    <ion-nav-bar class="bar bar-header bar-calm" align-title="left">

    </ion-nav-bar>
    <ion-nav-back-button class="no-text">

    </ion-nav-back-button>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
          </button>
    </ion-nav-buttons>
    <ion-content>

        <div class="container">
            <div class="row">

                <div class="col-20">
                  Id
                </div>
                <div class="col-20">
                    Batch ID
                </div>
                <div class="col-20">
                    Batch Name
                </div>
                <div class="col-20">
                    City
                </div>
                <div class="col-20">
                <center>    Download/View </center>
                </div>

            </div>
        </div>

        <div class="container2">
            <div ng-animate="'animate'">

                <div class="divider"></div>

                <div class="row">

                    <div class="col-20">
                        <div class="date"> <b>1 </b></div>

                    </div>

                    <div class="col-20">

                        <div class="vch"> <b>Amit </b></div>

                    </div>
                    <div class="col-20">

                        <div class="credit"> <b> Nitin</b> </div>
                    </div>
                    <div class="col-20">
                        <div class="balance"> <b>1234567 </b> </div>
                    </div>

                    <div class="col-20">

                  <center>  <i  class="icon1 ion-code-download"></i> &nbsp; <i  class="icon1 ion-ios-eye"></i></center>
                    </div>


                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
