<ion-view title="Thank You!">
    <ion-nav-bar>
    </ion-nav-bar>
    <ion-content>
        <div class="">

        <div class="row">
          <div class="col col-90">
              <h3>Thank You!</h3>
              <p>Thank you for taking your time for this assesment.</p>
              <p>Please Hand over this tab to assessor.</p>
          </div>
        </div>
       {{ result }}
        <div class="row">
           
            <div class="button-bar social-login">
            <button ng-click="okay()" class="button button-small button-border icon-left ion-arrow-return-right button-assertive-900">Okay</button>
           </div>
        </div> 
        </div>
    </ion-content>
</ion-view>