<ion-view view-title="View Password">
    <ion-nav-bar class="bar bar-header bar-calm" align-title="left">
      <ion-nav-back-button class="no-text">

      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
    </ion-nav-buttons>
    <ion-content>

        <div class="container">
            <div class="row">

                <div class="col-5">
                    #
                </div>
                <div class="col-10">
                    Student ID
                </div>
                <div class="col-20">
                    TP
                </div>
                <div class="col-20">
                    ER. No.
                </div>

                <div class="col-20">
                Username
                 </div>
                 <div class="col-20">
                Password &nbsp;&nbsp;
                    <a ng-click="createPdf(filtered )"><i class="icon1 ion-code-download"></i></a> &nbsp;
               </div>


            </div>
        </div>

        <div class="container2" ng-repeat = "password  in filtered   ">
                <div class="divider"></div>

                <div class="row">

                    <div class="col-5">
                        <div class="date"> <b>{{$index+1}} </b></div>

                    </div>

                    <div class="col-10">

                        <div class="vch"> <b>{{password.id}} </b></div>

                    </div>
                    <div class="col-20">

                        <div class="credit"> <b>{{password.batch_fname}}</b> </div>
                    </div>
                    <div class="col-20">
                        <div class="balance"> <b>{{password.en_number}}</b> </div>
                    </div>

                    <div class="col-20">
                    <div class="balance"> <b>{{password.username}}</b> </div>

                    </div>
                    <div class="col-20">
                 <div class="balance"> <b>{{password.user_mname}}</b> </div>

                    </div>
                </div>



                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
