<ion-view view-title="View Attempt">
    <ion-nav-bar class="bar bar-header bar-calm" align-title="left">

    </ion-nav-bar>
    <ion-nav-back-button class="no-text">

    </ion-nav-back-button>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
    </ion-nav-buttons>
    <ion-content>

        <div class="container">
            <div class="row">

                <div class="col-10">
                    #
                </div>
                <div class="col-10">
                    Student ID
                </div>
                <div class="col-20">
                    Student Name
                </div>
                <div class="col-20">
                    ER. No.
                </div>
                <div class="col-20">
                    Father Name
                </div>
                <div class="col-20">
                <center>  Action </center>
                 </div>
            </div>
        </div>

        <div class="container2">
            <div ng-animate="'animate'">

                <div class="divider"></div>

                <div class="row" ng-repeat = "viewAttempt in viewAttempt" >

                    <div class="col-10">
                        <div class="date"> <b>{{$index + 1}} </b></div>

                    </div>

                    <div class="col-10">

                        <div class="vch"> <b>{{viewAttempt.username}} </b></div>

                    </div>
                    <div class="col-20">

                        <div class="credit"> <b>{{viewAttempt.first_name}}</b> </div>
                    </div>
                    <div class="col-20">
                        <div class="balance"> <b>{{viewAttempt.en_number}} </b> </div>
                    </div>

                    <div class="col-20">

                        <div class="balance"> <b>{{viewAttempt.user_fname}} </b> </div>
                    </div>
                    <div class="col-20  view_attempt">

                        <center><a href = "#/app/viewAttempt/{{upcoming.bid}}" class="button button-small button-royal attemp_buttom">Attempt</a></center>
                    </div>




               </div>



            </div>
        </div>
    </ion-content>
</ion-view>
