/* Empty. Add your own CSS if you like */

.queses {
    background: #fff;
    width: 100%;
    border: solid 1px #ccc;
    position: absolute;
    left: -10000px;
    top: 0;
    opacity: 0;
    padding: 10px;
    display: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.keys {
    position: absolute;
    top: 300px;
}

.card-hide {
    left: -10000px !important;
    opacity: 0 !important;
    display: none !important;
}

.card-show {
    left: 0 !important;
    opacity: 1 !important;
    display: block !important;
}


/* General
==================================*/

h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/

.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/

.app-icon {
    background-color: #fff;
    background: url('../img/crown.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

timer>span {
    font-size: 16px;
    font-weight: 700;
}

timer>span.time {
    border-radius: 5px;
    line-height: 24px;
    vertical-align: middle;
    color: #de0b0b;
    font-size: 15px;
    float: right;
    margin-bottom: 10px;
}

.navigate {
    width: 30px;
    height: 30px;
    margin: 2px;
    float: left;
}

.navigate .button {
    margin-top: 10px;
    height: 26px;
    padding: 0 2px;
}

.right_btn {
    background: #33cd5f;
    color: #ffffff;
}

.wrong_btn {
    background: #ef473a;
    color: #ffffff;
}

.right_btn:hover {
    background: #009A2C;
    color: #ffffff;
}

.wrong_btn:hover {
    background: #BC1407;
    color: #ffffff;
}

.quiz_item {
    padding-left: 10px;
}

.item-icon-right {
    padding-left: 10px;
}

.quiz_heading h4 {
    overflow: inherit;
    text-overflow: inherit;
    white-space: initial;
    line-height: 20px;
}

.quality {
    float: right;
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    overflow: inherit;
    text-overflow: initial;
    white-space: initial;
}

.description {
    width: 100%;
    display: inline-block;
}

.start_quiz {
    padding: 0px;
    min-height: 10px;
    margin: 0px;
    line-height: 34px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 19px;
    margin-top: 20px !important;
}

.time {
    margin-bottom: 20px;
}

.question h4 {
    font-size: 14px;
    margin-left: 10px;
}

.question {
    height: 390px;
    overflow: overlay;
}

.question_label {
    font-size: 14px;
    line-height: 27px;
}

.question_label {
    font-size: 13px;
    color: #000;
}

.question_label h4 {
    font-size: 15px;
    line-height: 26px;
}

.ssc_name1 {
    width: 20%;
    display: inline-block;
}

.ssc_name2 {
    width: 30%;
    display: inline-block;
}

.ssc_name3 {
    width: 28%;
    display: inline-block;
}

.ssc_name {
    font-size: 13px;
    margin-top: 5px;
}

@media(max-width:768px) {
    .ssc_name1 {
        width: 50%;
        display: inline-block;
        float: left;
    }
    .ssc_name2 {
        width: 50%;
        display: inline-block;
        float: left;
    }
    .ssc_name3 {
        width: 50%;
        display: inline-block;
        float: left;
    }
    .ssc_name4 {
        width: 50%;
        display: inline-block;
        float: left;
    }
}

@media(max-width:400px) {
    .quality {
        font-size: 12px;
    }
    .ssc_name1 {
        width: 100%;
        display: inline-block;
    }
    .ssc_name2 {
        width: 100%;
        display: inline-block;
    }
    .ssc_name3 {
        width: 100%;
        display: inline-block;
    }
    .ssc_name4 {
        width: 100%;
        display: inline-block;
    }
    .ssc_name {
        margin-top: 0px;
    }
}



.session_thankyou{width: 100%;

border-radius: 6px;
text-align: center;
}
.thankyou{    margin: 7% auto;}
.session_thankyou h2{
font-size: 26px;
color: green;
letter-spacing: 1px;
margin-bottom: 35px;
}
.session_thankyou img{margin-top: 36px;}
.session_thankyou p{
  font-size: 15px;
      text-align: center;
      margin: 0 0 7px;
      color: #000;
}
.thankyou h3{    color: #035f10;}
.thank{margin-top: 30px;
color: #4285f4;}

.icon1 {
   font-size: 30px;
}

.platform-android .radio-icon{  visibility: visible !important;}


.platform-android .radio-icon:before{
  content:"" !important;
  border:2px solid black !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  overflow:hidden !important;
}


.platform-android .radio-icon:after{
  content:"" !important;
  position: absolute !important;
  right: 20px !important;
  top: 22px !important;
  background:black !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  overflow:hidden !important;


  transition: -webkit-transform .28s cubic-bezier(0.420, 0.000, 0.000, 1.650);
  transition: transform .28s cubic-bezier(0.420, 0.000, 0.000, 1.650);
  -webkit-transform: scale(0);
  transform: scale(0);
}

/*.item-radio input:checked ~ .item-content {
background: #F7F7F7;
}*/

.item-radio input:checked + .radio-content .radio-icon:after{
  -webkit-transform: scale(.30);
  transform: scale(1);
  margin: -10px -8px 0px 0px;
}

.radio-positive .radio-icon:after{
  background: #387EF5 !important;
}
.radio-positive .radio-icon:before{
  border-color: #0C63EE !important;
}
.attemp_buttom{height: 0px;
    line-height: 33px;
    font-size: 12px;
    padding: 0 21px;}
    .view_attempt{text-align: center;}
